
body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(229,237,255,1) 70%, rgb(63, 63, 252) 0%, rgb(63, 63, 252) 100%);
}

    

/*           menu           */
.logo{
   height: 60px;
} 

.home{
    height: 60px;
    text-align: center;
}

.search{
    height: 60px;
    text-align: center;
}

.bars{
    height: 60px;
    text-align: center;
}

.h4{
    text-transform: capitalize;
    color: white;
}

.fa-bell, .fa-cog, .fa-info-circle, .fa-sign-in-alt{
    color:white;
}

h1{
    color: white;
    position: relative;
    left: 80px;
    text-shadow: 0.5px 0.5px 5px rgb(78, 78, 78);
}
.fa-search{
    color: rgb(56, 55, 55);
    position: relative;
    left: 200px;
    z-index: 2;
}


/*          picture          */
.avatar{
    background-image: url("img/galo-cego.png");
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    right: -130px;
    top: -5px;
    height: auto;
    width: 50px;
}

.welcome{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: white;
    text-shadow: 0.5px 0.5px 5px rgb(78, 78, 78);
}

#picture h3{
    text-align: center;
    position: relative;
    margin: 170px 200px 0px -65px;
    text-transform: capitalize;
    color: white;
}

#picture p{
    text-align: center;
    position: relative;
    margin: 10px 200px 0px -65px;
    color: rgb(218, 218, 218);
}

/*          dashboard           */

.m1{
    background: rgb(255, 255, 255);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 60px 24px 20px 15px; 
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m2{
    background: rgb(255, 255, 255);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 60px 10px 20px 20px;
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m3, .m5, .m7{
    background: rgb(255, 255, 255);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 24px 20px 15px; 
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m4, .m6, .m8{
    background: rgb(255, 255, 255);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 20px 20px;
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard .fa-2x{
    position: relative;
    left: 53px;
    bottom: -7px;
}

#dashboard .home, .profile, .documentation, .app, .refer, .pref, .documentation, .msg, .transaction{
    text-align: center;
    position: relative;
    top: 25px;
    
}

#menu p{
    color: gray;
    text-transform: capitalize;
    font-size: 20px;
}

/*                   main thing               */


.applications{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 40px 20px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    box-shadow: 0px -30px 2px -7px rgba(231, 231, 231, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

    
   

.documents{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 10px 20px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    box-shadow: 0px -30px 2px -7px rgba(231, 231, 231, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

.preference{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 40px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    box-shadow: 0px -30px 2px -7px rgba(255, 255, 255, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

.earn{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    box-shadow: 0px -30px 2px -7px rgba(235, 235, 235, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

.message{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 40px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    box-shadow: 0px -30px 2px -7px rgba(235, 235, 235, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

.fee{
    background: rgb(255, 255, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    box-shadow: 0px -30px 2px -7px rgba(235, 235, 235, 0.8), 0px -58px 3px -17px rgba(255, 255, 255, 0.65), 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
}

#dashboard h3{
    text-align: left;
    text-transform: capitalize;
    font-size: -5px;
    color: rgb(51, 55, 58);
    text-shadow: 1px 1px 5px rgb(204, 199, 199);
}

hr{
    width: 70%;
    position: relative;
    right: 50px;
}

p{
    text-align: center;
    position: relative; 
    text-transform: capitalize;
}