
body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(229,237,255,1) 70%, rgba(33,33,255,1) 0%, rgba(33,33,240,1) 100%);
}

    

/*           menu           */
.logo{
   height: 60px;
} 

.home{
    height: 60px;
    text-align: center;
}

.search{
    height: 60px;
    text-align: center;
}

.bars{
    height: 60px;
    text-align: center;
}

/*          picture          */
.avatar{
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    height: 260px;
    text-transform: capitalize;
}

#picture h2{
    text-align: center;
    text-transform: capitalize;
}

#picture h3{
    text-align: center;
}

/*          dashboard           */

.m1{
    background: rgb(61, 61, 216);
    height: 150px;
    padding: 10px 50px 50px 10px;
    margin: 105px 24px 20px 15px; 
    border-radius: 7%;
    width: 80%;
}

.m2{
    background: rgb(54, 54, 160);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 105px 10px 20px 20px;
    border-radius: 7%;
}

.m3{
    background: rgb(54, 54, 160);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 24px 20px 15px; 
    border-radius: 7%;
}

.m4{
    background: rgb(61, 61, 216);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 20px 20px;
    border-radius: 7%;
}

.m5{
    background: rgb(61, 61, 216);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 24px 20px 15px; 
    border-radius: 7%;
}

.m6{
    background: rgb(54, 54, 160);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 20px 20px;
    border-radius: 7%;
}

.m7{
    background: rgb(54, 54, 160);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 24px 20px 15px; 
    border-radius: 7%;
}

.m8{
    background: rgb(61, 61, 216);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 20px 20px;
    border-radius: 7%;
}

.m9{
    background: rgb(61, 61, 216);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 24px 20px 15px; 
    border-radius: 7%;
}

.m10{
    background: rgb(54, 54, 160);
    height: 150px;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 20px 20px;
    border-radius: 7%;
}

.applications{
    background: rgb(205, 235, 255);
    height: 290px;
    margin: 10px 20px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    border-radius: 4%;
}

.documents{
    background: rgb(174, 189, 255);
    height: 290px;
    margin: 10px 20px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    border-radius: 4%;
}

.preference{
    background: rgb(174, 189, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    border-radius: 4%;
}

.earn{
    background: rgb(205, 235, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    border-radius: 4%;
}

.message{
    background: rgb(205, 235, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 130px;
    border-radius: 4%;
}

.fee{
    background: rgb(174, 189, 255);
    height: 290px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 10px;
    border-radius: 4%;
}
